body {
  background-color: hsl(185, 75%, 39%);
  font-size: 18px;
  margin: 0;
  text-align: center;
  overflow: hidden;
}
h1 {
  padding: 30px;
  color: hsl(229, 23%, 23%);
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 0;
}
span {
  color: hsl(227, 10%, 46%);
  position: relative;
  bottom: 3px;
  right: 20px;
}
p {
  color: hsl(227, 10%, 46%);
  margin: 0;
}
hr {
  border-style: none;
  border-top-style: solid;
  border-color: hsl(0, 0%, 59%);
  width: 98%
}
ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 20px;

}
li {
  list-style-type: none;
  position: relative;
  bottom: 3px;
  left: 7px;
  color: hsl(229, 23%, 23%);

}












.snap-2 {
font-size: 10px;
position: relative;
top: 12px;
left: -33px;
color: hsl(227, 10%, 46%);
letter-spacing: 0.1rem;
}
.snap-21 {
font-size: 10px;
position: relative;
top: 12px;
left: -40px;
color: hsl(227, 10%, 46%);
letter-spacing: 0.1rem;
}
.snap-22 {
font-size: 10px;
position: relative;
top: 12px;
left: -36px;
color: hsl(227, 10%, 46%);
letter-spacing: 0.1rem;
}

.container {
  background-color: white;
  max-width: 30%;
  margin: 100px auto 10px;
  border-radius: 1rem;
}
.img-in {
  width: 100%;
  margin: 0;
  border-radius: 1rem 1rem 0 0;
}
.img-victor {
  border: solid;
  border-color: white;
  border-radius: 50%;
  position: absolute;
  left: 630px;
  top: 210px;

}











.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
